
# backend ignore
Backend/.rooms/
Backend/.assets/

# File manager ignore
Filemanager/node_modules/*
Filemanager/directory/servers/*
/Filemanager/node_modules/@syncfusion/ej2-filemanager-node-filesystem/node_modules/
/Filemanager/node_modules/@syncfusion/ej2-filemanager-node-filesystem/.vscode
!Filemanager/node_modules/@syncfusion/
!Filemanager/directory/servers/temp.txt
Frontend/.env.exposeddev
