@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 9% 98%;
    --foreground: 60 15% 8%;
    --card: 60 9% 98%;
    --card-foreground: 60 15% 8%;
    --popover: 60 9% 98%;
    --popover-foreground: 60 15% 8%;
    --primary: 143 41% 10%;
    --primary-foreground: 60 9% 98%;
    --secondary: 143 39% 80%;
    --secondary-foreground: 60 15% 8%;
    --muted: 60 10% 20%;
    --muted-foreground: 60 15% 70%;
    --accent: 143 33% 76%;
    --accent-foreground: 60 15% 8%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 60 15% 8%;
    --border: 60 10% 20%;
    --input: 60 10% 20%;
    --ring: 143 33% 40%;
    --radius: 0rem;
  }

  .dark {
    --background: 60 9% 2%;
    --foreground: 60 15% 92%;
    --card: 60 9% 2%;
    --card-foreground: 60 15% 92%;
    --popover: 60 9% 2%;
    --popover-foreground: 60 15% 92%;
    --primary: 143 41% 90%;
    --primary-foreground: 60 9% 2%;
    --secondary: 143 39% 20%;
    --secondary-foreground: 60 15% 92%;
    --muted: 60 10% 80%;
    --muted-foreground: 60 15% 92%;
    --accent: 143 33% 24%;
    --accent-foreground: 60 15% 92%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 60 14% 10%;
    --border: 60 9% 60%;
    --input: 60 10% 80%;
    --ring: 143 33% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.animated-geometry {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M342.251%2c411.06C358.124%2c410.97%2c372.549%2c401.441%2c379.81%2c387.326C386.526%2c374.269%2c382.937%2c359.105%2c375.483%2c346.455C368.166%2c334.037%2c356.662%2c323.361%2c342.251%2c323.581C328.129%2c323.796%2c317.968%2c335.314%2c310.729%2c347.442C303.243%2c359.984%2c297.461%2c374.669%2c303.946%2c387.757C311.058%2c402.111%2c326.232%2c411.151%2c342.251%2c411.06' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M59.727%2c166.469C93.156%2c165.068%2c124.941%2c151.634%2c142.882%2c123.393C162.252%2c92.903%2c168.62%2c54.218%2c151.112%2c22.623C133.132%2c-9.824%2c96.789%2c-28.255%2c59.727%2c-26.672C25.106%2c-25.194%2c-1.018%2c0.31%2c-19.07%2c29.89C-38.146%2c61.148%2c-54.74%2c99.187%2c-36.44%2c130.906C-18.134%2c162.635%2c23.128%2c168.002%2c59.727%2c166.469' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M890.563%2c560.915C920.56%2c561.522%2c954%2c558.053%2c969.551%2c532.395C985.49%2c506.097%2c975.25%2c473.404%2c959.673%2c446.89C944.347%2c420.803%2c920.819%2c397.967%2c890.563%2c397.944C860.276%2c397.921%2c836.079%2c420.365%2c821.269%2c446.784C806.833%2c472.537%2c801.601%2c504.071%2c816.923%2c529.307C831.781%2c553.78%2c861.939%2c560.336%2c890.563%2c560.915' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M228.36758281052366 196.0042371081458L288.7153756226745 124.08453821913393 216.79567673366267 63.73674540698306 156.4478839215118 135.6564442959949z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M955.226583654737 511.02097725245585L1011.6095114179917 441.3938600804915 941.9823942460273 385.0109323172368 885.5994664827726 454.6380494892012z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M428.96659882433937 476.6009749321564L541.6508313203966 547.0138982623677 612.0637546506077 434.3296657663104 499.3795221545506 363.9167424360992z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
